spring:
  application:
    name: commerce
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3307/commerce
    username: root
    password: mysql_pw
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: admin
      password: admin

server:
  port: 8080
  servlet:
    context-path: /commerce

jwt:
  secret:
    key: "your-very-very-long-and-secret-key-that-is-at-least-256-bits-long"
